@use "variables" as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:focus, button:focus, div:focus {
  outline: 0;
}

button, a {
  border: 0;
  cursor: pointer;
}

.transparent {
  outline: 0;
  background: none;
}

html {
  @include fluid-type($min-width, $container-width, $min-font, $max-font);
}