@use "variables" as *;

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: Helvetica Neue, Helvetica, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:focus, button:focus, div:focus {
  outline: 0;
}

button, a {
  border: 0;
  cursor: pointer;
}

.transparent {
  outline: 0;
  background: none;
}

p {
  margin: 1rem 0;
}

.error {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

html {
  @include fluid-type($min-width, $container-width, $min-font, $max-font);
}